body {
    background-color: #F9E2AF;
    font-family: 'Gill Sans', sans-serif;
}

.title {
    text-align: center;
}

.title, .heading {
    color:#AF7137;;
}

.logo {
    display: flex;
    justify-content: center;
}